#Teachers{
    color: green;
    font-weight: bold;
    text-transform: uppercase;
}
.Teachers--Card{
    text-align: center;
    justify-content: center;
    justify-items: center;
}
.Teachers--Image{
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 100%;
    border: 1px solid greenyellow;
    transition: all .3s ease-in;
}
.Teachers--Image:hover{
    width: 160px;
    height: 160px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    border-radius: 100%;
    border: 1px solid green;
}
.Teachers--Name{
    color: green;
    font-weight: bold;
    font-size: 24px;
    transition: all .2s ease-in;
}
.Teachers--Name:hover{
    color: red;
}

.AllTeachers_Button {
    float: right;
    margin-right: 8%;
    margin-top: 20px;
    padding: 5px 40px;
    font-weight: 500;
    border-radius: 3px;
    color: green;
    background-color: transparent;
    border: 2px solid green;
}

.AllTeachers_Button:hover {
    background-color: green;
    color: white;
}