.navbar-nav {
    justify-content: start;
    align-items: center;
}

.NavLinks {
    font-size: 17px;
}

.NavLinks:hover{
    color: red!important;
    margin-top: -2px;
    border-top: 2px solid red;
}